@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(to bottom right, #F7FE89 5%, #F9DE74, #FDB965, #F2946B, #EB697D 80%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
    color: #fff;

}

h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

#logo {
    color: #265E9C;
    float: left;
    font-size: 280%;
    margin-left: 30px;
    
}


/* navigation links */



#menu {
    float: right;
    font-size: 110%;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000000
}

.active {
    border-bottom: 1px solid #000000
}

/*Hero-video and cover text */
.hero-video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background: #333;*/
    background: rgba(0, 0, 0, 0.25);
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 100%;
}
.hero-video h1{
    padding: 3%;
}

.video-bg{
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

/* Hero image panel gallery */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url("https://i.imgur.com/dHo8Tzz.jpg") no-repeat center center;
    height: 600px;
    display: flex;

    align-self: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;

    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}


/* main content */
.wrap-section {
    margin: 0 auto;
    text-align: justify;
    overflow: hidden;
}

.wrap-content {
    text-align: center;
    width: 100%;
    font-weight: 100;
    margin-top: 2rem;
}

.wrap-content span {
    color: rgb(16, 15, 15);
    padding: 0;
    margin-bottom: 2.5rem;
    margin: 0.5em;
    font-size: 3rem;
    
}
.main-content span:hover {
    box-shadow: 0px 0px 0px 15px #51A3A3;
    border-bottom: 5px solid #3B3561;
}
.wrap-content p {
    color: rgb(16, 15, 15);
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 3%;
}

.main-content {
    
    font-size: 1.6rem;
	display: grid;
	place-items: center;
	min-height: 200px;
	padding: 1rem;
    
    
}


/*  zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* BENEFITS grid container */

.item1 {
    grid-area: 1 / 1 / 2 / 2;
}

.item2 {
    grid-area: 1 / 2 / 2 / 3;
}

.item3 {
    grid-area: 1 / 3 / 2 / 4;
}

.item4 {
    grid-area: 2 / 1 / 3 / 2;
}

.item5 {
    grid-area: 2 / 2 / 3 / 3;
}

.item6 {
    grid-area: 2 / 3 / 3 / 4;
}

.grid-container {
    background: url('https://i.imgur.com/tZUV9rF.jpg')center center / cover no-repeat fixed;
    display: grid;
    grid-auto-rows: 150px;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    text-decoration-line: underline;
    color: #F24C00;
    text-align: center;
    padding: 20px 0;
    font-size: 220%;
}


/* Footer */

footer {
    background-color: #265E9C;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

footer>span {
    color: silver;
    margin: 0 10px;
}

footer>a {
    color: rgb(207, 209, 217);
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.5rem;
}

footer>p {
    color: silver;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 0.3rem;
}

/*bottom grid*/

.bottom-grid {
    padding: 2em;
    display: grid;
    grid-gap: 2em;
    margin-bottom: 4em;
}

.ben-1 {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0, 1)
}

.ben-1 p {
    color: #fff;
    margin-top: 0;
}

.ben-1 span {
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    margin-left: 15px;
}

/* projects grid wraper */
.grid-wrap-section {
    background-color: white;
    margin: 0 auto;
    text-align: justify;
    overflow: hidden;

}

.grid-wrap-content {
    text-align: center;
    width: 100%;
    font-weight: 100;
    margin-top: 2rem;
}

.grid-wrap-content p {
    color: rgb(11, 10, 10);
}

.grid-main-content {
    
    padding: 2rem 0 2rem 0;
    text-align: center;
    font-size: xx-large;
    width: 100%;
    margin-bottom: 1rem;
}

/* projects grid credit for border atributes https://css-tricks.com/animating-border/*/

.projects-grid {
    background-color: white;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    padding: 0 10px 0 50px;
    padding-bottom: 100px;

  }
  
  .column {
    flex: 100%;
    width: 100%;
  }
  
  .column img {
    vertical-align: middle;
    margin-bottom: 50px;
  }
  
  .container-projects {
    position: relative;
    width: 90%;
    box-shadow: 0px 0px 0px 5px #44E5E7;
    transition: box-shadow 0.25s linear;
    margin: 0.5em;
    max-width: 100%;
  }
  .container-projects:hover {
    box-shadow: 0px 0px 0px 10px #59D2FE;
  }
  .image {
    display: block;
    width: 100%;
    height: 350px;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
  }
  
  .container-projects:hover .overlay {
    opacity: 0.5;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  

/* Image gallery */

/* Inspiration images */
.image-grid {
	--gap: 16px;
	--num-cols: 4;
	--row-height: 300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}
/* Anything under 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}

/* materials information credit https://news.energysage.com/monocrystalline-vs-polycrystalline-solar/ */
.holdingcontainer {
    display: flex;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    padding-bottom: 60px;
    margin-bottom: 50px;

}

.panels {
    margin: 5px;
    float: left;
    width: 390px;
}

.panels img {
    width: 100%;
    height: 300px;
}

.mono {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    padding: 15px;
    text-align: center;
}

.mono p {
    color: rgb(12, 12, 12);
    width:200px;
    text-align:center;
    display:block;
    margin: 0 auto;
    margin-bottom: 1px;
    float: center;
}



.container {
    display: flex;
    clear: both;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    

}



/* MEDIA SCREEN SIZES */
/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #hero-image {
        width: 65%;
        height: 600px;
        margin: 0 auto;
    }


    .grid-container div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        margin: auto;
    }

    hr {
        display: none;
    }

}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    body {
        
        block-size: fit-content;
    }

    #menu {
        clear: left;
        float: right;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }



    .wrap-content {
        width: 100%;
    }

    #hero-image {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        
    }

    .holdingcontainer {
        flex-direction: column;
        align-items: center;
    }
    .panels {
        width: 80%;
    }
    .mono p{
        width: 80%;
        margin: 0 auto;
    }
}


/* For small screens sizes from 800px wide and down */


@media only screen and (max-width: 769px) {

    .holdingcontainer {
        flex-direction: column;
    }

    .grid-container div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        margin: auto;
    }
    .hero-video h1{
        padding-left: 5.5%;
    }

}

@media only screen and (max-width: 643px) {


    .container .heading {
        width: 100%;
    }

    .container .heading h3 {
        font-size: 3em;

    }
}
@media (min-width: 550px) {
    .bottom-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 750px) {
    .bottom-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #hero-image {
        width: 100%;
    }
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

}
@media only screen and (min-width: 481px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
/* Desktop Styles */
  @media only screen and (min-width: 1024px) {
      .column {
        flex: 33.3%;
        max-width: 33.3%;
      }
  }