@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Lato, sans-serif;
    background-color: #fafafa;
    /*background-size: cover;*/
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    
}



/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
    color: #000000;

}

h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
}
.solar {
    text-align: center;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
}

/* navigation links */

#menu {
    color: #000000;
    font-size: 130%;
    letter-spacing: 4px;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000000
}

.active{
    border-bottom: 1px solid #000000
}

/* Hero image and cover text */

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height:600px;
    display: flex;
    flex-direction: column;
    background: url("https://i.imgur.com/dHo8Tzz.jpg") 
    no-repeat center center;
    align-self: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    
    
    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
.cover-text {
    font-size: 1.4rem;
    text-align: center;
    color: #000000;
}

.wrap-section {
    text-align: center;
    padding: 16px;
    margin-bottom: var(40px);
    overflow: hidden;
    padding-bottom: var(40px);
}



.wrap-content {
	text-align: center;
    width:600px;
    font-weight: 400;
    margin-top: 2rem;
}

.main-content {
    text-align: center;
    font-size: xx-large;
    width:600px;
    font-weight: 400;
    margin-bottom: 1rem;
}

/*  zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
} 
/* grid parts */

.grid-row {
    gap: 2rem;
    display: grid;
    padding: 0 6px 0 6px;
  }
  
  /* Create two equal columns that sits next to each other */
.column {
    gap: 2rem;
    display: grid;
    padding: 0 6px 0 6px;
  }
  
.column img {
    
    margin-top: 8px;
    vertical-align: center;
    grid-column: 2;
  }

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 200%;
}


#map-wrapper {

    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}


/* Footer */

footer {
	background-color: #1b1b6a;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: silver;
}

footer > a {
	color: rgb(207, 209, 217);
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

.text-uppercase {
    text-transform: none;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #top-part{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        
        padding: 5px 5px;
        margin-top: 0;
    }

    
    #benefits div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
    .bottom-grid {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        margin: auto;
    }
    .column img {
    
        margin-top: 8px;
        vertical-align: middle;
        grid-column: 2;
      }
    
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }
     #photo{
        column-count: 3;
    }
    .column img {
    
        margin-top: 8px;
        vertical-align: middle;
        grid-column: 2;
      }
    
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }
}

.bottom-grid {
    display: grid;
    gap: 4rem;
    margin-top: 2rem;
    font-size: 130%;
    letter-spacing: 4px;
    grid-template-columns: 1fr 1fr;
    
}
.bottom-grid h2 {
    
    text-align: center;
    font-size: 80%;
    letter-spacing: 1px;
    grid-template-columns: 1fr;
    
}

.bottom-grid p {
    height: 250px;
    color: #000000;
    text-align: left;
    font-size: 100%;
    letter-spacing: 4px;  
    column-count: 1;  
}

#benefits {
    color: #000000;
    padding: 5px 5px 5px 5px;
    margin: 50px;
    gap: 1rem;
    font-size: 80%;
    letter-spacing: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#benefits div {
    position: relative;
    color: #000000;
    width: 40%;
    height: 90px;
    padding: 0 0 0 0;
    text-align: auto;
      
}

#benefits h2 {
    text-align: left;
    color: #000000;
}
