@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Lato, sans-serif;
    background-color: #fafafa;
    /*background-size: cover;*/
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    
}



/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
    color: #000000;

}

h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
}

/* navigation links */

#menu {
    color: #000000;
    font-size: 130%;
    letter-spacing: 4px;
}

#logo {
    
    font-size: xx-large;
    text-align: center;
    letter-spacing: 6px;
    line-height: 75px;
}

#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000000
}

.active{
    border-bottom: 1px solid #000000
}

/* Hero image and cover text */

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height:600px;
    display: flex;
    flex-direction: column;
    background: url("https://i.imgur.com/dHo8Tzz.jpg") 
    no-repeat center center;
    align-self: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    
    
    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
.cover-text {
    font-size: 1.4rem;
    text-align: center;
    color: #000000;
}

.wrap-section {
    text-align: justify;
    
    padding: 16px;
    margin-bottom: var(40px);
    overflow: hidden;
    padding-bottom: var(40px);
}


.wrap-content {
	text-align: center;
    width:400px;
    font-weight: 400;
    margin-top: 2rem;
}

.main-content {
    padding-left: 40rem;
    padding-right: 40rem;
    text-align: center;
    font-size: xx-large;
    width:400px;
    margin-bottom: 1rem;
}

/*  zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
} 
/* grid container */

.item1 { grid-area: 1 / 1 / 2 / 2; }
.item2 { grid-area: 1 / 2 / 2 / 3; }
.item3 { grid-area: 1 / 3 / 2 / 4; }
.item4 { grid-area: 2 / 1 / 3 / 2; }
.item5 { grid-area: 2 / 2 / 3 / 3; }
.item6 { grid-area: 2 / 3 / 3 / 4; }

.grid-container {
  background: url('https://i.imgur.com/tZUV9rF.jpg')center center / cover no-repeat fixed;  
  display: grid;
  grid-auto-rows: 150px;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  color:#fafafa;
  text-align: center;
  padding: 20px 0;
  font-size: 200%;
}


#map-wrapper {

    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}


/* Footer */

footer {
	background-color: #1b1b6a;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: silver;
}

footer > a {
	color: rgb(207, 209, 217);
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}



/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #top-part{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        
        padding: 5px 5px;
        margin-top: 0;
    }

    
    #benefits div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
    .bottom-grid {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        margin: auto;
    }
    .column img {
    
        margin-top: 8px;
        vertical-align: middle;
        grid-column: 2;
      }
    
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }
     #photo{
        column-count: 3;
    }
    .column img {
    
        margin-top: 8px;
        vertical-align: middle;
        grid-column: 2;
      }
    
      .main-content {
        vertical-align: middle;
      }
    
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }
}

.bottom-grid {
    border: outset;
    font: bold;
    white-space: pre-line;
    display: grid;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 130%;
    letter-spacing: 4px;
    grid-template-columns: 1fr 1fr;
    
}
.bottom-grid h2 {
    
    text-align: center;
    font-size: 130%;
    letter-spacing: 1px;
    grid-template-columns: 1fr;
    
}

/* contacts */

#contact {
    background-color: #A9DBB8;
    
    margin-bottom: 5px;
}

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
	float: right;
}

.spacer {
    clear: both;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.text-center {
    text-align: center;
}


